@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="lol">
        <span class="text-center">Book Show Today.</span>
    </div>
    <div class="lol2">
        <form class="row g-3">
            <div class="row g-3">
                <div class="col">
                    <input type="text" class="form-control" placeholder="First name" aria-label="First name">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
                </div>
            </div>
            <div class="col">
                <input type="Email" class="form-control" placeholder="Email" aria-label="Email">
            </div>
            <div class="col-md-4">
                <select id="inputState" class="form-select">
                    <option selected>select date...</option>
                    <option>Sydney 30/04/24 15:00</option>
                    <option>Dubai Mall 15/06/24 22:00</option>
                    <option>Las Vegas 21/06/24 19:00</option>
                    <option>Shanghai 01/07/24 00:00</option>
                    <option>Bangalore 07/07/24 16:00</option>
                    <option>Tokyo 29/07/24 20:00</option>
                    <option>Berlin 01/08/24 00:00</option>
                    <option>London 08/08/24 22:30</option>
                </select>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Book Now</button>
            </div>
        </form>
    </div>
</div>
